$fonts: 'Roboto', Helvetica, Arial, sans-serif;
$font-title: 'Hero';

@font-face {
  font-family: 'Hero';
  src: url('/fonts/hero.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hero';
  src: url("/fonts/Hero.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url('/fonts/efframedium-italic.eot');
  src: url('/fonts/efframedium-italic.eot?#iefix') format("embedded-opentype"), url('/fonts/efframedium-italic.woff2') format("woff2"), url('/fonts/efframedium-italic.woff') format("woff"), url('/fonts/efframedium-italic.ttf') format("truetype"), url('/fonts/efframedium-italic.svg#effra_mediumitalic') format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Effra';
  src: url('/fonts/efframedium-regular.eot');
  src: url('/fonts/efframedium-regular.eot?#iefix') format("embedded-opentype"), url('/fonts/efframedium-regular.woff2') format("woff2"), url('/fonts/efframedium-regular.woff') format("woff"), url('/fonts/efframedium-regular.ttf') format("truetype"), url('/fonts/efframedium-regular.svg#effra_mediumregular') format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/e7MeVAyvogMqFwwl61PKhPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/fIKu7GwZTy_12XzG_jt8eA.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/9_7S_tWeGDh5Pq3u05RVkltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
