@import 'colors';
@import 'sizes';

//
// Colored background
//

.u-bg--attention { background-color: $color-attention; }

.u-bg--safe { background-color: $color-safe; }

.u-bg--danger { background-color: $color-danger; }

.u-bg--white-soft { background-color: $white-soft; }



//
// Colored text
//

.u-text--blue-hard { color: $blue-hard; }

.u-text--orange { color: $orange; }

.u-text--white-hard { color: $white-hard; }



//
// section
//

.u-section {
  margin-bottom: 30px;

  @media (min-width: $size-md) {
    margin-bottom: 60px;
  }
}

.u-section--small {
  margin-bottom: 15px;

  @media (min-width: $size-md) {
    margin-bottom: 30px;
  }
}

.u-section--bordered {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid $gray-soft;

  @media (min-width: $size-md) {
    margin-bottom: 60px;
    padding: 0;
  }
}

.u-page-container {
  padding-top: 15px;
  @media (min-widtth: $size-md) {
    padding-top: 30px;
  }
}
.u-page-container--big {
  padding-top: 60px;
}
